@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg);
    background-size: cover;
    background-position: center
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.logo:hover {
    color: aquamarine;
    transform: scale(1.1);
}

.navbar a{
    font-size: 18px;
    display: inline-flex;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: aquamarine;
    transform: scale(1.1);
}

.contact h2 {
    font-size: 40px;
    color: antiquewhite;
    text-align: center;
    margin-bottom: 10px;
}

.contatc form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
} 

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid aquamarine;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: antiquewhite;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder{
    color: antiquewhite;
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item{
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px;
}

.button-container button {
    padding: 12px 32px;
    background: aquamarine;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px aquamarine;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .navbar a {
        font-size: 16px;
        margin-left: 20px;
    }
}